@import './responsive-mixin-helper';
@import './tokens';

.App {
  background-color: $tech-color-light-med;
  min-height: 100dvh;
  @include tablet {
    position: relative;
    max-width: 450px;
    margin: 0 auto;
    overflow: hidden;
  }
}
