@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
@import './responsive-mixin-helper';
@import './tokens';
@import './reset';

:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  max-width: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  @include tablet {
    background-color: #f4f5f6;
    color: $tech-color-dark-high;
  }
  margin-bottom: 70px;
}
